table {
    border-collapse: collapse;
    border: 1px solid hsl(44, 88%, 40%);
  }
  
  th,
  td {
    border: 1px solid rgb(204, 13, 221)09, 18, 18;
  }
  
  table.b {
    table-layout: fixed; /* specifying table as fixed entity*/
    width: 180px;
  }
  
  table.c {
    table-layout: auto; /* specifying table as auto entity*/
    width: 100%;
  }
  